html,
body,
#__next {
  margin: 0;
  height: 100%;
  // overflow: hidden;
}

.no-underline {
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-wrap {
  white-space: pre-wrap;
  word-break: break-word;
}

// react-datepciker
.react-datepicker__month {
  font-size: 16px;
}
